h3{
    display: inline;
    float: right;
    margin-left: 60px;

}
#im{
    padding-left: 8px;
    height: 50px;
    width: 118px;
}
#jm{
    display: inline;
    float: right;
    padding-top: 12px;
    padding-right: 15px;
    
}
body{
    background-color: #e9d5b8;
}
#m{
    margin-right: 60px;
}
.drunk{
    border: 0.5px solid rgb(50, 80, 35);
    background-color: rgba(160, 155, 105, 0.753);
    border-radius: 10px;

}
footer{
    background-color: rgba(160, 155, 105, 0.753);
    
}
.main{
    background-image:url(./honeybe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.info{
    text-align: left; 
    width: 40%;
    color: white;
    margin-left: 80px;
    padding-top: 90px;
    font-size: 110%;
}
#hea{
    margin-left: 100px;
    padding-top: 40px;
    color:wheat;
    text-shadow: 1px 2px black;
    font-family: 'Rowdies', cursive;
}
#con{
    text-align: center;
    font-family: 'Roboto Slab', serif;
}
.conimg{
    height: 256 px;
    width: 480px;
    padding-left: 70px;
    
}
.contex{
    display: inline-block;
    padding-right: 50px;
    padding-left: 60px;
}
table,tr,td{
    height: max-content;
    width: fit-content;
}
.para{
    font-size: 110%;
    font-family: 'Roboto Condensed', sans-serif;
}
.head1{
    color: rgba(245, 245, 220, 0.842);
    text-shadow: 1px 1px rgb(99, 99, 90);
}
.head2{
    font-family: 'Rowdies', cursive;
}
.fimg{
    float: left;
}
ul{
    text-align: left;
    padding-top: 10px;
    display: inline-block;
    list-style: none;
    padding-bottom: 10px;
    font-family: 'Source Serif 4', sans-serif;
    font-weight: bold;
    font-size: 90%; 
}
.ftab{
    padding-left: 100px;
}
#ftabi{
    padding-left: 300px;
}
.logo{
    margin-left: 20px;
    height: 30px;
    width: 30px;
}
h3{
    text-align: center;
    padding-right: 10px;

}
a:link{
    text-decoration: none;
}
li{
    color: black;
}


